.Title {
  text-align: center;
  color: #ffffff; 
}
.Guy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 240px;
    width: 240px;
    border-radius: 80px;
  }
  .p {
    font-size: 25px;
    text-align: center;
  }
.Title {
  font-family: Roboto;
font-size: 25px;
}
.Bot {
  width: 120px;
  height: 120px;
  margin-left: 0%;
  border-radius: 40px;
  }

.boi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 120px;
  height: 120px;
  border-radius: 40px;
  margin-top: -30%;
}
.Boy {
margin-left: 70%;
width: 120px;
height: 120px;
border-radius: 40px;
margin-top: -29%;
display: block;
} 