<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Workout Help?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style=color:#176BB8>
  <h1 style=color:white;>
    Push ups:
  </h1>
  <p style=color:white;>
    To do pushups, you have to get on you hands and feet and to go down, you have to put your arms down but your body must remain straight.
  </p>
  <img src="../../assets/Pushups.png">
  <h1 style=color:white;>
    Stretching Positions:
  </h1>
  <p style=color:white;>
    Before running you have to stretch your legs to your right and left to prevent muscle tears or injury.
  </p>
  <img src="../../assets/Stretching.png">
  <h1 style=color:white;>
    Running Tips:
  </h1>
  <p style=color:white;>
   When you're running, make sure you drink enough water and becareful to drink more than two sips of water.
  </p>
  <img src="../../assets/Running.png">
</ion-content>
