h1 {
    text-align: center;
    background-color:#176BB8
  }
p {
    background-color:#176BB8;
    height: 80px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs
}