<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      <div>
      Workout Help?
    </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
    <head>
        <style>
        a:link, a:visited {
          background-color: #f44336;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: red;
        }
        </style>
        </head>
        <body>
        
        <a href="" target="_blank"><ion-icon name="situps"></ion-icon></a>
        
        </body>
</ion-content>
